﻿@model Entities.Producto

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Producto/edit/@Model.IdProducto" method="post">
            <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4>Editar Información Producto</h4></div>
            <div class="panel-body">

            <div class="form-group">
                <label for="">id:</label>
                <input type="text" readonly="true" name="IdProducto" class="form-control" placeholder="IdProducto" value="@Model.IdProducto"/>
            </div>
         
           <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre" />
            </div>

             <div class="form-group">
                <label for="">Modelo:</label>
                <input type="text" name="Modelo" class="form-control" placeholder="Modelo" value="@Model.Modelo"/> 
            </div>

            <div class="form-group">
                <label for="">Serie:</label>
                <input type="text" name="Serie" class="form-control" placeholder="Serie" value="@Model.Serie"/>
            </div>

            <div class="form-group">
                <label for="">Marca:</label>
                <input type="text" name="Marca" class="form-control" placeholder="Marca" value="@Model.Marca"/>
            </div>

            <div class="form-group">
                <label for="">Color:</label>
                <input type="text" name="Color" class="form-control" placeholder="Color" value="@Model.Color"/>
            </div>

            <div class="form-group">
                  <label for="">FechaIngreso:</label>
                <input type="date" name="FechaIngreso" class="form-control" value="@Model.FechaIngreso"  />
            </div>
        

            <div class="form-group">
                <label for="">Cantidad:</label>
                <input type="text" name="Cantidad" class="form-control" value="@Model.Cantidad"  />
            </div>

            <div class="form-group">
                <label for="">Unidad Medida:</label>
               <select class="form-control" name="UnidadMedida">
                <option value= "UND">UND</option>
                <option value= "DEC">DEC</option>
                <option value= "CEN">CEN</option>
            </select>
            </div>
            
           @* Aqui jalamos la lista de proveedores*@
           @* <div class="row">
                 <div class="col-md-4">
                <label class="control-label">Proveedor:</label>
                <div class="editor-field" >
                    @Html.DropDownList("IdProveedorFk",null, htmlAttributes: new { @class = "form-control" })
                </div>
                </div>
            </div>
            *@
             @* Hasta Aqui -proveedores*@


             @* Aqui jalamos la lista de tiposProducto*@
               @*<div class="row">
                    <div class="col-md-4">
                    <label class=" control-label">Tipo Producto:</label>
                    <div class="editor-field" >
                        @Html.DropDownList("IdTipoProductoFk",null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    </div>
                </div> *@
             @* Hasta Aqui -tipoProducto*@




             <div class="form-group" style="text-align:center">
            <button class="btn btn-primary" >Guardar</button>
             <a href="/Producto/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
            </div>
               
    	     </div>
        </div>
        </form>
    </div>
</div>
