﻿

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<script src="/Scripts/jquery-2.2.3.min.js"></script>
<script src="/Scripts/jquery.table2excel.js"></script>
<script src="/ExportPDF/jspdf.js"></script>
<script src="/ExportPDF/FileSaver.js"></script>
<script src="/ExportPDF/jspdf.plugin.table.js"></script>

<div class="panel panel-default">
  <div class="panel-body text-center">
    Gestionar Productos
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Almacén</div>
    <div class="panel-body">

    <form action="/Producto/Index" method="get">

        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
        </div>
        
        <div class="col-md-9 col-sm-9 col-xs-9">
            <label>Desde:</label>
            <input type="date" id="Fecha1" name="Fecha1" class="input-sm" />
            <label>Hasta:</label>
            <input type="date" id="Fecha2" name="Fecha2" class="input-sm" />
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buscar!">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span> 
            </button>

            @* <a href="/Producto/create" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registrar Producto">
                <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
             </a>*@
        </div>
      </div>

      @*<div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label>Proveedor:</label>
                    <div class="editor-field">
                         @Html.DropDownList("IdProveedorFk",null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
           </div>
       </div>*@
    
    </form>

    <br />
        <div  style="overflow: auto">
            <table class="table tabble-striped table-hover  mytable" id="tbl">
    <thead>
        <tr>  
            <th>#</th>
            <th>Tipo Producto</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Serie</th>
            <th>Marca</th> 
            <th>Color</th>
            <th>FechaIngreso</th>
            <th>Cantidad</th>
            <th>Unidad Medida</th> 
            @*<th>Num. Factura</th>*@
            <th>Precio</th>
           @* <th>Unidad Medida</th>*@
            <th>Observación</th>
            <th>Talla</th>
            <th>Sexo</th>
            @*<th>Num. Motor</th>
            <th>Chasis</th>
            <th>Fecha Venc.</th>
            <th>Area²</th>
            <th>Dimensiones</th>
            <th>Ubicación</th>*@
            @*<th>Proveedor</th>*@
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdProducto</td>
                <td>@item.TipoDeProducto</td>
                <td>@item.Nombre</td>
                <td>@item.Modelo</td>
                <td>@item.Serie</td>
                <td>@item.Marca</td> 
                <td>@item.Color</td>
                <td>@item.FechaIngreso</td>
                <td>@item.Cantidad</td>
                <td>@item.UnidadMedida</td> 
               @* <td>@item.NumFactura</td>*@
                <td>@item.Precio</td>
                @*<td>@item.UnidadMedida</td>*@
                <td>@item.Observaciones</td>
                <td>@item.Talla</td>
                <td>@item.Sexo</td>
                @*<td>@item.NumMotor</td>
                <td>@item.Chasis</td>
                <td>@item.FechaVencimiento</td>
                <td>@item.AreaM2</td>
                <td>@item.Dimenciones</td>
                <td>@item.Ubicacion</td>*@
               @* <td>@item.Proveedor.RazonSocial</td>*@
                
                
                <td>
                    <a href="/producto/edit/@item.IdProducto"><span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Editar</a> 
                         
                </td>
                <td>
                    <a href="/producto/delete/@item.IdProducto" onclick="return confirm(' Desea eliminar al producto :@item.Nombre'+ ' @item.Marca'+ ' @item.Modelo');">
                    <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>Eliminar</a>
                </td>
                <td>
                    <a href="/Movimientos/TraerProducto/@item.IdProducto"> <span  class="glyphicon glyphicon-check" aria-hidden="true"></span>Movimiento</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
        </div>
        </div>
        </div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Reportes</div>
    <div class="panel-body">
       <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
              <button id="myButton" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar Excel">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exportar Excel</button>


              <button onclick="generatefromtable()" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar PDF">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exportar PDF</button>
             </div>
           <//div>
    </div>
</div>


<script type="text/javascript">
          $(document).ready(function (e) {

              $("#myButton").click(function (e) {

                  $(".mytable").table2excel({
                      exclude: ".noExl",
                      exclude_img: true,
                      exclude_links: true,
                      exclude_inputs: true,
                      name: "new File",
                      filename: "ListaProductos",
                      fileext: ".xls"
                  });

              });
          });

</script>

<script>
                 function generatefromtable() {
                     var data = [], fontSize = 12, height = 0, doc;
                     doc = new jsPDF('p', 'pt', 'a4', true);
                     doc.setFont("times", "normal");
                     doc.setFontSize(fontSize);
                     doc.text(20, 20, "Lista Productos");
                     data = [];
                     
                     data = doc.tableToJson('tbl');
                     height = doc.drawTable(data, {
                         xstart: 10,
                         ystart: 10,
                         tablestart: 40,
                         marginleft: 10,
                         xOffset: 10,
                         yOffset: 15
                     });

                     //<![CDATA[
                     var date = new Date();
                     var d = date.getDate();
                     var day = (d < 10) ? '0' + d : d;
                     var m = date.getMonth() + 1;
                     var month = (m < 10) ? '0' + m : m;
                     var yy = date.getYear();
                     var year = (yy < 1000) ? yy + 1900 : yy;
                     //]]>
                      doc.text(50, height + 20, 'Fecha Reporte: '+ day + "/" + month + "/" + year);
                     doc.save("ListaProductos.pdf");
                 }
      </script>

