﻿@model Entities.Producto
@{
    ViewBag.Title = "RegistrarOtros";
}

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

 <div class="row center">
   <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="panel panel-default">
    <div class="panel-heading" style="text-align:center">
      <h4>Registrar Información Producto</h4></div>
    <div class="panel-body">
    <div class="container" style="align-content:center">
          <form action="/Producto/create" method="post" >
                  <div class="row">
                   <div class="col-md-10 col-sm-10 col-xs-10">
                         <div class="col-md-5 col-sm-5 col-xs-5"> 
                            <div class="form-group">
                            <label for="">Tipo de Producto:</label>
                            <input type="text" name="TipoDeProducto" class="form-control" value="Otros" readonly="true" />
                            </div>

                            <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" name="Nombre" class="form-control" placeholder="Nombre" />
                            <span>@Html.ValidationMessage("Nombre")</span>
                            </div>

                            <div class="form-group ">
                            <label for="">Fecha Ingreso:</label>
                            <input type="date" name="FechaIngreso" class="form-control"  />
                            </div>

                            <div class="form-group ">
                            <label for="">Fecha de Vencimiento:</label>
                            <input type="date" name="FechaVencimiento" class="form-control"  />
                            </div>

                           @* <div class="form-group">                           
                              <label for="">Seleccionar Proveedor:</label>
                              <div class="editor-field">
                                 @Html.DropDownList("IdProveedorFk", null, htmlAttributes: new {@class= "form-control"})
                                 @Html.ValidationMessageFor(model =>model.IdProveedorFk)
                            </div>                                                 
                            </div>   *@ 
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-5"> 

                            <div class="form-group">
                            <label for="">Precio:</label>
                            <input type="text" name="Precio" class="form-control" placeholder="Precio"  />
                            <span>@Html.ValidationMessage("Precio")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Cantidad:</label>
                            <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad"  />
                            <span>@Html.ValidationMessage("Cantidad")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Unidad Medida:</label>
                            <select class="form-control" name="UnidadMedida">
                                <option value= "UND">UND</option>
                                <option value= "MILLAR">MILLAR</option>
                                <option value= "CIENTO">CIENTO</option>
                                <option value= "CAJA">CAJA</option>
                            </select>
                            <span>@Html.ValidationMessage("UnidadMedida")</span>
                            </div>

                             <div class="form-group">
                            <label for="">Observaciones:</label>
                            <textarea name="Observaciones" class="form-control" placeholder="Observaciones"  rows="5" cols="20"></textarea>
                            <span>@Html.ValidationMessage("Observaciones")</span>
                            </div> 
                          </div>


                            <br />
                            <br />   
                        <hr />
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                <div style="text-align:center">
                                <button class="btn btn-primary">
                                      <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                      Guardar</button>
             
                                 <a href="/Modulos/Index2" class="btn btn-danger">
                                      <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                      Cancelar
                                 </a>
                                 </div>
                               </div>
                             </div>
                          
                   
                </div>
                </div>
               
               </form>
                </div>
                
         </div>
         </div>
         </div>
 </div>

<style>
    .center {
     float: none;
     margin-left: 90px;
     margin-right: auto;
}
</style>