﻿@model Entities.Producto
@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

 <div class="row center">
   <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="panel panel-info">
    <div class="panel-heading" style="text-align:center">
      <h4>Registrar Información Producto</h4></div>
    <div class="panel-body">
    <div class="container" style="align-content:center">
          <form action="/Producto/create" method="post" >
                  <div class="row">
                   <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="col-md-5 col-sm-5 col-xs-5"> 
                            <div class="form-group">
                            <label for="">Tipo Producto:</label>
                            <select class="form-control" name="TipoDeProducto">
                                <option value= "Vestuario">Vestuario</option>
                            </select>
                            <span>@Html.ValidationMessage("TipoDeProducto")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" name="Nombre" class="form-control" placeholder="Nombre" />
                            <span>@Html.ValidationMessage("Nombre")</span>
                            </div>

                            <div class="form-group ">
                            <label for="">FechaIngreso:</label>
                            <input type="date" name="FechaIngreso" class="form-control"  />
                            </div>

                            <div class="form-group">
                            <label for="">Unidad Medida:</label>
                            <select class="form-control" name="UnidadMedida">
                                <option value= "UND">UND</option>
                                <option value= "MILLAR">MILLAR</option>
                                <option value= "CIENTO">CIENTO</option>
                                <option value= "CAJA">CAJA</option>
                            </select>
                            <span>@Html.ValidationMessage("UnidadMedida")</span>
                            </div>


                            <div class="form-group">
                            <label for="">Precio:</label>
                            <input type="text" name="Precio" class="form-control" placeholder="Precio"  />
                            
                            </div>

                            <div class="form-group">
                            <label for="">Num Factura:</label>
                            <input type="text" name="NumFactura" class="form-control" placeholder="NumFactura"  />
                            
                            </div>

                             <div class="form-group">
                            <label for="">Observaciones:</label>
                            <input type="text" name="Observaciones" class="form-control" placeholder="Observaciones"  />
                            <span>@Html.ValidationMessage("Observaciones")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Color:</label>
                            <input type="text" name="Color" class="form-control" placeholder="Color" />
                            <span>@Html.ValidationMessage("Color")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Talla:</label>
                            <select class="form-control" name="Talla">
                                <option value= "Miguelito">Miguelito</option>
                                <option value= "S">S</option>
                                <option value= "M">M</option>
                                <option value= "L">L</option>
                                <option value= "XL">XL</option>
                            </select>
                            <span>@Html.ValidationMessage("Talla")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Sexo:</label>
                            <select class="form-control" name="Sexo">
                                <option value= "M">Masculino</option>
                                <option value= "F">Femenino</option>
                            </select>
                            <span>@Html.ValidationMessage("Sexo")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Cantidad:</label>
                            <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad"  />
                            <span>@Html.ValidationMessage("Cantidad")</span>
                            </div>


                           <label class="control-label">Proveedor:</label>
                          <div class='input-group-btn' >
                          <div class="editor-field" >
                                 @Html.DropDownList("IdProveedorFk",null, htmlAttributes: new { @class = "form-control" })
                                 @Html.ValidationMessageFor(model => model.IdProveedorFk)
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                            <div style="text-align:center">
                            <button class="btn btn-primary">
                                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                  Guardar</button>
             
                             <a href="/Producto/Index" class="btn btn-danger">
                                  <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                  Cancelar
                             </a>
                             </div>
                           </div>
                         </div>
                      </div>
                </div>
                </div>
               
               </form>
                </div>
                
         </div>
         </div>
         </div>
 </div>


<style>
    .center {
     float: none;
     margin-left: 90px;
     margin-right: auto;
}
</style>

