﻿@model Entities.Producto
@{
    ViewBag.Title = "RegistrarSuministros";
}

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<link rel="stylesheet" href="/Style/css/bootstrap-datetimepicker.css" />
<script type="text/javascript" src="/Style/js/bootstrap-datetimepicker.js"></script>


 <script type="text/javascript">


     $('#dt1').datetimepicker({
         locale: 'en-GB'
     });
 </script>



 <div class="row center">
   <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="panel panel-default">
    <div class="panel-heading" style="text-align:center">
      <h4>Registrar Información Producto</h4></div>
    <div class="panel-body">
    <div class="container" style="align-content:center">
          <form action="/Producto/create" method="post" >
                  <div class="row">
                   <div class="col-md-10 col-sm-10 col-xs-10">
                         <div class="col-md-5 col-sm-5 col-xs-5"> 
                            <div class="form-group">
                            <label for="">Tipo de Producto:</label>
                            <input type="text" name="TipoDeProducto" class="form-control" value="Suministros" readonly="true" />
                            </div>

                            <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" name="Nombre" class="form-control" placeholder="Nombre..." />
                            <span>@Html.ValidationMessage("Nombre")</span>
                            </div>

                            <div class="form-group ">
                            <label for="">Fecha de Ingreso:</label>
                            <input type="date" name="FechaIngreso" class="form-control"  />
                            </div>


                           @* <div class="form-group ">
                            <label for="">Fecha Ingreso:</label>
                                <div class='input-group date' id='dt1'>
                                <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>*@

                            <div class="form-group ">
                            <label for="">Marca:</label>
                            <input type="text" name="Marca" class="form-control" placeholder="Marca..." />
                            </div>

                            <div class="form-group ">
                            <label for="">Modelo:</label>
                            <input type="text" name="Modelo" class="form-control" placeholder="Modelo..."  />
                            </div>

                            <div class="form-group ">
                            <label for="">Serie:</label>
                            <input type="text" name="Serie" class="form-control" placeholder="Serie..." />
                            </div>

                
                           
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-5"> 

                            <div class="form-group">
                            <label for="">Precio:</label>
                            <input type="text" name="Precio" class="form-control" placeholder="S/ "  />
                            <span>@Html.ValidationMessage("Precio")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Cantidad:</label>
                            <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad"  />
                            <span>@Html.ValidationMessage("Cantidad")</span>
                            </div>

                            <div class="form-group">
                            <label for="">Unidad Medida:</label>
                            <select class="form-control" name="UnidadMedida">
                                <option value= "UND">UND</option>
                                <option value= "MILLAR">MILLAR</option>
                                <option value= "CIENTO">CIENTO</option>
                                <option value= "CAJA">CAJA</option>
                            </select>
                            <span>@Html.ValidationMessage("UnidadMedida")</span>
                            </div>
 

                             <div class="form-group">
                            <label for="">Observaciones:</label>
                            <textarea name="Observaciones" class="form-control" placeholder="Observaciones..."  rows="5" cols="20"></textarea>
                            <span>@Html.ValidationMessage("Observaciones")</span>
                            </div> 
                          </div>


                            <br />
                            <br />   
                        <hr />
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                <div style="text-align:center">
                                <button class="btn btn-primary">
                                      <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                      Guardar</button>
             
                                 <a href="/Modulos/Index2" class="btn btn-danger">
                                      <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                      Cancelar
                                 </a>
                                 </div>
                               </div>
                             </div>
                          
                   
                </div>
                </div>
               
               </form>
                </div>
                
         </div>
         </div>
         </div>
 </div>


<style>
    .center {
     float: none;
     margin-left: 90px;
     margin-right: auto;
}
</style>