﻿@{
    ViewBag.Title = "Lista";
}


<h2>Lista</h2>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />


  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

       <button class="btn btn-primary">asfbakjwb</button>
      <br />
      <br />
   
 <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='dt1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#dt1').datetimepicker({
                locale: 'en-GB'
            });
        </script>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                  <div class="form-group col-sm-3">
                       <label for="">Nombre:</label>
                       <input type="text" name="Nombre" class="form-control" placeholder="Nombre" />
                        
                  </div>
                <br />
                <button class="btn btn-primary">SAVE</button>
                 

                  <div class="form-group col-sm-3">
                       <label for="">Apellidos:</label>
                       <input type="text" name="Nombre" class="form-control" placeholder="Apellidos" />
                  </div>
            </div>

            <div class='col-sm-6'>
                  <div class="form-group">
                       <label for="">Serie:</label>
                       <input type="text" name="Nombre" class="form-control" placeholder="Nombre" />
                  </div>

                  <div class="form-group">
                       <label for="">Modelo:</label>
                       <input type="text" name="Nombre" class="form-control" placeholder="Apellidos" />
                  </div>
            </div>

             <script type="text/javascript">
                 $('#dt1').datetimepicker({
                     locale: 'en-GB'
                 });
            </script>
        </div>

    </div>

      @* <marquee behavior="scroll" bgcolor="yellow" loop="-1" width="30%">
  <i><font color="blue"><strong>Welcome</strong> Today's date is : </font></i>
</marquee> *@
      <script >
          var today = new Date();
          document.write(today);
          //var d = new Date(year, month, day, hours, minutes, seconds, milliseconds);
 </script>
       <script >
           var d = new Date();
           var n = d.getDate();
 </script>
 


      @*-----------------excdel-----------------*@
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="/Scripts/jquery.table2excel.js"></script>


      <table  class="table table-striped table-hover mytable">
  <thead>
    <tr>
      <th>#</th>
      <th>Column heading</th>
      <th>Column heading</th>
      <th>Column heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table> 
  <button id="myButton" class="btn btn-primary">
      <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      Exportar</button>

      <script type="text/javascript">
          $(document).ready(function(e){

              $("#myButton").click(function(e){

                  $(".mytable").table2excel({
                      name:"new File",
                      filename:"newfile",
                      fileext:".xls"
                  });
		
              });
          });

</script>

     @* EXPORTAR A PDF*@

      <script src="/ExportPDF/jspdf.js"></script>
		<script src="/ExportPDF/FileSaver.js"></script>
		<script src="/ExportPDF/jspdf.plugin.table.js"></script>

      <script>
          function generatefromtable() {
              var data = [], fontSize = 12, height = 0, doc;
              doc = new jsPDF('p', 'pt', 'a4', true);
              doc.setFont("times", "normal");
              doc.setFontSize(fontSize);
              doc.text(20, 20, "hi boyz");
              data = [];
              data = doc.tableToJson('tbl');
              height = doc.drawTable(data, {
                  xstart: 10,
                  ystart: 10,
                  tablestart: 40,
                  marginleft: 10,
                  xOffset: 10,
                  yOffset: 15
              });
              doc.text(50, height + 20, 'Porfin salio');
              doc.save("some-file.pdf");
          }
      </script>
      <table  class="table table-striped table-hover table1" id="tbl">
  <thead>
    <tr>
      <th>#</th>
      <th>Column heading</th>
      <th>Column heading</th>
      <th>Column heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  
    <tr class="active">
      <td>7</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
     
    </tr>
  </tbody>
</table>

      <button onclick="generatefromtable()">
			Generate from table
		</button>




@*      USO DE PAGINACION*@
    <link href="/FooTable/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="/FooTable/css/footable.core.css" rel="stylesheet" type="text/css"/>
    <link href="/FooTable/css/footable-demos.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="/FooTable/js/footable.js" type="text/javascript"></script>
	<script src="/FooTable/js/footable.paginate.js" type="text/javascript"></script>
	<script src="/FooTable/js/bootstrap-tab.js" type="text/javascript"></script>
    <script src="/FooTable/js/demos.js" type="text/javascript"></script>



      <div class="demo-container">

			<div class="tab-pane active" id="demo">
				<table class="table demo" data-page-size="5" data-paging="true">
					<thead>
						<tr>
							<th data-toggle="true">
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th data-hide="phone,tablet">
								Job Title
							</th>
							<th data-hide="phone,tablet">
								DOB
							</th>
							<th data-hide="phone">
								Status
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Isidra</td>
							<td><a href="#">Boudreaux</a></td>
							<td>Traffic Court Referee</td>
							<td data-value="78025368997">22 Jun 1972</td>
							<td data-value="1"><span class="status-metro status-active" 

title="Active">Active</span></td>
						</tr>
						<tr>
							<td>Shona</td>
							<td>Woldt</td>
							<td><a href="#">Airline Transport Pilot</a></td>
							<td data-value="370961043292">3 Oct 1981</td>
							<td data-value="2"><span class="status-metro status-disabled" 

title="Disabled">Disabled</span></td>
						</tr>
						<tr>
							<td>Granville</td>
							<td>Leonardo</td>
							<td>Business Services Sales Representative</td>
							<td data-value="-22133780420">19 Apr 1969</td>
							<td data-value="3"><span class="status-metro status-suspended" 

title="Suspended">Suspended</span></td>
						</tr>
						<tr>
							<td>Easer</td>
							<td>Dragoo</td>
							<td>Drywall Stripper</td>
							<td data-value="250833505574">13 Dec 1977</td>
							<td data-value="1"><span class="status-metro status-active" 

title="Active">Active</span></td>
						</tr>
						<tr>
							<td>Maple</td>
							<td>Halladay</td>
							<td>Aviation Tactical Readiness Officer</td>
							<td data-value="694116650726">30 Dec 1991</td>
							<td data-value="3"><span class="status-metro status-suspended" 

title="Suspended">Suspended</span></td>
						</tr>
						<tr>
							<td>Maxine</td>
							<td><a href="#">Woldt</a></td>
							<td><a href="#">Business Services Sales Representative</a></td>
							<td data-value="561440464855">17 Oct 1987</td>
							<td data-value="2"><span class="status-metro status-disabled" 

title="Disabled">Disabled</span></td>
						</tr>
						<tr>
							<td>Lorraine</td>
							<td>Mcgaughy</td>
							<td>Hemodialysis Technician</td>
							<td data-value="437400551390">11 Nov 1983</td>
							<td data-value="2"><span class="status-metro status-disabled" 

title="Disabled">Disabled</span></td>
						</tr>
						<tr>
							<td>Lizzee</td>
							<td><a href="#">Goodlow</a></td>
							<td>Technical Services Librarian</td>
							<td data-value="-257733999319">1 Nov 1961</td>
							<td data-value="3"><span class="status-metro status-suspended" 

title="Suspended">Suspended</span></td>
						</tr>
						<tr>
							<td>Judi</td>
							<td>Badgett</td>
							<td>Electrical Lineworker</td>
							<td data-value="362134712000">23 Jun 1981</td>
							<td data-value="1"><span class="status-metro status-active" 

title="Active">Active</span></td>
						</tr>
						<tr>
							<td>Lauri</td>
							<td>Hyland</td>
							<td>Blackjack Supervisor</td>
							<td data-value="500874333932">15 Nov 1985</td>
							<td data-value="3"><span class="status-metro status-suspended" 

title="Suspended">Suspended</span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<div class="pagination pagination-centered"></div>
							</td>
						</tr>
					</tfoot>
				</table>




                <div>
                <label>Fecha: </label>
                <input type="date" class="form-control" />
                </div>
                <label>Nuro Años:</label>
                <input type="text" class="form-control"  id="CantidadAños()"/>
			</div>
          </div>
    <script type="text/javascript">
        $(function () {
            $('table').footable();

            $('.clear-filter').click(function (e) {
                e.preventDefault();
                $('table.demo').trigger('footable_clear_filter');
                $('.filter-status').val('');
            });

            $('.filter-status').change(function (e) {
                e.preventDefault();
                var filter = $(this).val();
                $('#filter').val($(this).text());
                $('table.demo').trigger('footable_filter', { filter: filter });
            });
        });
       
    </script> 
       <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs nav-justified">
                <li class=""><a aria-expanded="False" href="#home" data-toggle="tab">Areas Añadidos a la Agencia</a></li>
                <li class="active"><a aria-expanded="true" href="#profile" data-toggle="tab">Areas disponibles</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="home">
                    <table class="table table-striped table-hover" id="myTable"  >
                        <thead>
                        <tr class="label-danger">
                            <th>IdArea</th>
                            <th>NombreArea</th>
                            <th>CodigoArea</th>                            
                            <th style="text-align: center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody id="TBodyAreas"></tbody>                        
                    </table>
                </div>
                <div class="tab-pane fade in active" id="profile">
                    <table class="table table-striped table-hover" >
                        <thead>
                        <tr class="label-primary">
                            <th>IdArea</th>
                            <th>NombreArea</th>
                            <th>CodigoArea</th>                            
                        </tr>
                        </thead>
                        <tbody>
                       
                            <tr>
                                <td>sdfsegsese</td>
                                <td>segsegsegsege</td>
                                <td>segseesgsegsegseg</td>                                
                            </tr>
                             <tr>
                                <td>sdfsegsese</td>
                                <td>segsegsegsege</td>
                                <td>segseesgsegsegseg</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


      <style>
          .tab-content table th {
              background-color:yellow;
              font-family:Algerian;
          }
 
      </style>
  </body>
   
</html>