﻿@{
    ViewBag.Title = "ListaDeprecicion";
}

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["updateSuccess"]</div>
}

<div class="panel panel-default">
    <div class="panel-heading" style="text-align:center">
        <h4>LISTA DE LA TABLA DE DEPRECIACIONES</h4>
    </div>
    
    <div class="panel-body">
        <form action="/Depreciacion/Index" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="criterio" class="class-form" placeholder="Buscar un tipo de deprecicion" />
                </div>

                <div class="col-md-4">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <a href="/Depreciacion/Create" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                </div>

            </div>
        </form>

        <table class="table tabble-striped table-hover">
            <thead>
                <tr>                    
                    <th>ID</th>
                    <th>DESCRIPCIÓN</th>
                    <th>TIPO DE PORCENTAJE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>

            <tbody>               
                @foreach (var item in Model)
                { 
                <tr>
                    <td>@item.IdDepreciacion</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Porcentaje</td>
                   @* <td>
                        <select>
                            <option>baja</option>
                            <option>vendido</option>
                        </select>
                    </td> *@                   

                     <td>
                    <a href="/Depreciacion/edit/@item.IdDepreciacion">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |
                    <a href="/Depreciacion/delete/@item.IdDepreciacion" 
                        onclick="return confirm(' Desea eliminar : @item.Descripcion');">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>                   
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
