﻿@{
    ViewBag.Title = "RegistrarDeprecicion";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Depreciacion/create" method="post">
      <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4>REGISTRAR NUEVO TIPO DE DEPRECIACIÓN</h4></div>
            <div class="panel-body">

            <div class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" name="Descripcion" class="form-control" placeholder="Tipo de Producto a depreciar" />
                <span>@Html.ValidationMessage("Descripcion")</span>
            </div>

            <div class="form-group">
                <label for="">Porcentaje(%):</label>
                <input type="text" name="Porcentaje" class="form-control" placeholder="Porcentaje a depreciar anul" />
                <span>@Html.ValidationMessage("Descripcion")</span>
            </div>

             @*<div class="form-group">
                <label for="">Porcentaje:</label>
                <select class="form-control input-sm-3" id="Porcentaje" name="Porcentaje" required>
                  <option value="">--Seleccione Porcentaje %</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">20</option>
                  <option value="20">25</option>
                </select>
                <span>@Html.ValidationMessage("Grupo")</span>
             </div>*@
    
               
           <div class="form-group" style="text-align:center">
                 <button class="btn btn-primary" >
                  <span  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Guardar</button>
            
             <a href="/Depreciacion/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Cancelar

             </a>
                 
               </div>
   	              </div>
    	             </div>
        </form>
    </div>
</div>

