﻿@model Entities.Agencia

<h3 class="title text-danger">Areas con la que cuenta la Agencia</h3>

<form class="form-inline" action="Agencia/Edit/@Model.IdAgencia" method="post" role="form">
    <table class="table">
        <thead>
            <tr>
                <th>IdArea</th>
                <th>NombreArea</th>
                <th>CodigoDeArea</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Detalle)
            { 
            <tr>
                <td>@item.IdArea</td>
                <td>@item.Area.Nombre</td>
                <td>@item.Area.CodigoArea</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="row">
            <div class="form-group-sm">
                <a href="/Agencia" class="btn btn-danger col-sm-offset-5">
                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                    Atras
                </a>
            </div>
        </div>
</form>

