﻿@{
    ViewBag.Title = "Inicio";
}

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
<script src="/Scripts/jquery-2.2.3.min.js"></script>
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
<script src="/Scripts/jquery.table2excel.js"></script>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <strong style="color:black">CONSULTA DE AGENCIA</strong>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">MOD. INVENTARIOS - "RONDESA"</div>
    <div class="panel-body">  

<form action="/Agencia/Index" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>

             <a href="/Agencia/Create" class="btn btn-success">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </a>
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>IdAgencia</th>
            <th>Nombre</th>
            <th>CodigoAgencia</th>
            <th>Acciones</th>           
            
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdAgencia</td>
                <td>@item.Nombre</td>
                <td>@item.CodigoAgencia</td>
                
                <td>
                    <a href="/Agencia/edit/@item.IdAgencia" class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>|
                    <a href="/Agencia/delete/@item.IdAgencia" 
                        onclick="return confirm(' Desea eliminar la Agencia : @item.Nombre');">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    </div>
</div>

<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>

