﻿@model Entities.Bienes
@{
    ViewBag.Title = "EditarTipoBieMuebles";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
              <h4>REGISTRAR UN NUEVO BIEN - INVENTARIOS "RONDESA"</h4>
        </div>
            <div class="panel-body">
                <div class="container" style="align-content:center">
                    <form action="/Bienes/edit/@Model.Idbienes" method="post">
                        <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="col-md-5 col-sm-5 col-xs-5">

                    <div class="form-group">
                    <label for="">Tipo de Producto:</label>
                    <input type="text" name="TipoDeProducto" class="form-control" value="Muebles" readonly="true" />
                    </div>

                  <div class="form-group ">
                  <label for="">Descripcion:</label>
                  <input type="text" name="Descripcion" class="form-control" value="@Model.Depreciacion" placeholder="Nombre del producto"  />
                   </div>

                  <div class="form-group ">
                   <label for="">Fecha Ingreso:</label>
                    <input type="date" name="FechaEmision" value="@Model.FechaEmision" class="form-control"  />
                  </div>

                  <div class="form-group ">
                  <label for="">Color:</label>
                  <input type="text" name="Color" class="form-control" value="@Model.Color" placeholder="Color del producto"  />
                   </div>

                  <div class="form-group">
                  <label for="">Unidad Medida:</label>
                   <select class="form-control" name="UnidadMedida">
                  <option value= "UND">UND</option>
                   <option value= "MILLAR">MILLAR</option>
                    <option value= "CIENTO">CIENTO</option>
                    </select>
                     <span>@Html.ValidationMessage("UnidadMedida")</span>
                   </div>

                        <div class="form-group">
                        <label for="">MODIFICAR GRUPO</label>
                        <select class="form-control" name="Grupo">                            
                                <option value="181301">181301</option>
                                <option value="181302">181302</option>
                                <option value="181309">181309</option>
                                <option value="181401">181401</option>
                        </select>
                    </div>

                          <div class="form-group">
                        <label class="control-label">MODIFICR AGENCIA</label>
                        <div class="editor-field">
                            @Html.DropDownList("IdAgencia", null, htmlAttributes: new{@class="form-control"})
                        </div>
                    </div>

                         <div class="form-group">
                        <label class="control-label">MODIFICR AREA</label>
                        <div class="editor-field">
                            @Html.DropDownList("IdAreafk", null, htmlAttributes: new{@class="form-control"})
                        </div>
                    </div>

                        </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">

                        <div class="form-group">
                        <label for="">MODIFICAR ESTADO</label>
                        <select class="form-control" name="Grupo">                               
                                <option value="Nuevo">Nuevo</option>
                                <option value="Bueno">Bueno</option>
                                <option value="Regular">Regular</option>
                                <option value="Baja">Baja</option> 
                        </select>
                    </div>

                         <div class="form-group ">
                         <label for="">Cantidad:</label>
                         <input type="text" name="Cantidad" class="form-control" value="@Model.Cantidad" placeholder="Cantidad"  />
                          </div>

                      <div class="form-group ">
                      <label for="">Medidas:</label>
                      <input type="text" name="Medidas" class="form-control" value="@Model.Medidas" placeholder="Ingrese las medidas del producto"  />
                      </div>

                      <div class="form-group ">
                     <label for="">Precio:</label>
                     <input type="text" name="Importe" class="form-control" value="@Model.Importe" placeholder="S/ 00.00"  />
                      </div>

                     <div class="form-group">
                        <label for="">MODIFICAR N° FACTURA</label>
                   <input type="text" name="NurFactura" class="form-control" value="@Model.NurFactura" />
                    </div>

                         <div class="form-group">                           
                             <label for="">Seleccionar Depreciación:</label>
                             <div class="editor-field">
                                @Html.DropDownList("IdDepreciacionFk", null, htmlAttributes: new {@class= "form-control"})
                                @Html.ValidationMessageFor(model =>model.IdDepreciacionFk)
                             </div>                                                 
                        </div>

                      <div class="form-group ">
                            <label for="">Observaciones:</label>
                             <textarea name="Observaciones" class="form-control" placeholder="Observaciones"  rows="5" cols="20"></textarea>
                       </div>
                        
                        </div>  

                       <div class="row">
                             <div class="col-md-10 col-sm-10 col-xs-10">
                             <div style="text-align:center">
                             <button class="btn btn-primary">
                             <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            Guardar</button>
             
                           <a href="/Bienes/Index" class="btn btn-danger">
                            <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            Cancelar
                          </a>
                           </div>
                           </div>
                     </div>
                </div>
                @* </div>*@
             </div>
           </form>
          </div>
         </div>
    </div>
</div>
</div>

