﻿@model Entities.Bienes

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Bienes/edit/@Model.Idbienes" method="post">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align:center">
                    <h4>EDITAR INFORMACIÓN DEL BIEN</h4>                    
                </div>
                <div class="panel-body">

                    <div class="form-group">
                    <label for="">Tipo de Bien:</label>
                    <input type="text" name="TipoDeProducto" class="form-control" value="Computo" readonly="true" />
                    </div>
                    
                    <div class="form-group">
                        <label for="">Id Bien:</label>
                        <input type="text" readonly="true" name="Idbienes" class="form-control" placeholder="Idbienes" value="@Model.Idbienes" />                        
                    </div>

                    <div class="form-group">
                        <label class="control-label">Modificar Producto:</label>
                        <div class="editor-field">
                            @Html.DropDownList("IdProductoFk", null, htmlAttributes:new{@class ="form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">MODIFICAR GRUPO</label>
                        <select class="form-control" name="Grupo">                            
                                <option value="181301">181301</option>
                                <option value="181302">181302</option>
                                <option value="181309">181309</option>
                                <option value="181401">181401</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Codigo</label>
                        <input type="text" name="CodigoGrupo" class="form-control" value="@Model.CodigoGrupo" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">MODIFICR AGENCIA</label>
                        <div class="editor-field">
                            @Html.DropDownList("IdAgencia", null, htmlAttributes: new{@class="form-control"})
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label">MODIFICR AREA</label>
                        <div class="editor-field">
                            @Html.DropDownList("IdAreafk", null, htmlAttributes: new{@class="form-control"})
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="">MODIFICAR ESTADO</label>
                        <select class="form-control" name="Grupo">                               
                                <option value="Nuevo">Nuevo</option>
                                <option value="Bueno">Bueno</option>
                                <option value="Regular">Regular</option>
                                <option value="Baja">Baja</option> 
                        </select>
                    </div>

               <div class="form-group">
                  <label for="">MODIFICAR FECHA DE INGRESO:</label>
                <input type="date" name="FechaEmision" class="form-control" value="@Model.FechaEmision"  />
               </div>

               <div class="form-group">
                   <label for="">MODIFICAR IMPORTE</label>
                   <input type="text" name="ImporteSinIGV" class="form-control" value="@Model.Importe" />
               </div>

                    <div class="form-group">
                        <label for="">MODIFICAR N° FACTURA</label>
                   <input type="text" name="NurFactura" class="form-control" value="@Model.NurFactura" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">GUARDAR</button>
                        <a href="/Depreciacion/Index" class="btn btn-danger">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            CANCELAR
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
