﻿@model Entities.Bienes
@{
    ViewBag.Title = "RegistrarProducComputo";
}


@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
              <h4>REGISTRAR PRODUCTOS DE COMPUTO - INVENTARIOS "RONDESA"</h4>
        </div>
            <div class="panel-body">
                <div class="container" style="align-content:center">
                    <form action="/Bienes/create" method="post">
                        <div class="row center">
                      <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="col-md-5 col-sm-5 col-xs-5">

                    <div class="form-group">
                    <label for="">Tipo de Bien:</label>
                    <input type="text" name="TipoDeProducto" class="form-control" value="Computo" readonly="true" />
                    </div>

                  <div class="form-group ">
                  <label for="">Nombre:</label>
                  <input type="text" name="Descripcion" class="form-control" placeholder="Nombre del producto"  />
                   </div>

                  <div class="form-group ">
                   <label for="">Fecha Ingreso:</label>
                    <input type="date" name="FechaEmision" class="form-control"  />
                  </div>

                  <div class="form-group">
                  <label for="">Unidad Medida:</label>
                   <select class="form-control" name="UnidadMedida">
                  <option value= "UND">UND</option>
                   <option value= "MILLAR">MILLAR</option>
                    <option value= "CIENTO">CIENTO</option>
                    </select>
                        <span>@Html.ValidationMessage("UnidadMedida")</span>
                          </div>
                         <div class="form-group">
                           <label for="">Grupo:</label>
                           <select class="form-control input-sm-3" id="Grupo" name="Grupo" required>
                              <option value="">--Seleccione Grupo</option>
                              <option value="181301">181301</option>
                              <option value="181302">181302</option>
                              <option value="181309">181309</option>
                              <option value="181401">181401</option>
                            </select>
                             <span>@Html.ValidationMessage("Grupo")</span>
                        </div>                       

                        @* <div class="form-group">
                            <label for="">Codigo de Grupo:</label>
                            <input type="text" name="CodigoGrupo" class="form-control" placeholder="Generado Automático" />
                             <span>@Html.ValidationMessage("CodigoGrupo")</span>
                        </div>*@

                         <div class="form-group ">
                         <label for="">Cantidad:</label>
                         <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad"  />
                          </div>                        

                     <div class="form-group ">
                      <label for="">Marca:</label>
                      <input type="text" name="Marca" class="form-control" placeholder="Ingrese la Marca"  />
                     </div>

                    <div class="form-group ">
                      <label for="">Modelo:</label>
                      <input type="text" name="Modelo" class="form-control" placeholder="Ingrese un modelo"  />
                    </div>

                  <div class="form-group ">
                      <label for="">Serie:</label>
                      <input type="text" name="Serie" class="form-control" placeholder="Serie.."  />
                  </div>
                         </div>
                     <div class="col-md-5 col-sm-5 col-xs-5">

                  <div class="form-group ">
                     <label for="">Color:</label>
                     <input type="text" name="Color" class="form-control" placeholder="Color del producto"  />
                  </div>                                   
                      
                      <div class="form-group ">
                     <label for="">Precio:</label>
                     <input type="text" name="Importe" class="form-control" placeholder="S/ 00.00"  />
                      </div>

                        <div class="form-group">                            
                             <label for="">Selecione La Agencia:</label>
                             <div class="editor-field">
                                 @Html.DropDownList("IdAgencia", null, htmlAttributes: new {@class= "form-control"})
                                 @Html.ValidationMessageFor(model =>model.IdAgencia)
                                   
                              @* <a href="/Agencia/Create" class="btn btn-success">
                                 <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </a>*@
                              </div>                            
                            @*falta el buscar o ver las agencias *@
                        </div> 

                        <div class="form-group">                            
                            <label for="">Selccione El Area:</label>
                            <div class="editor-field">
                              @Html.DropDownList("IdAreafk", null, htmlAttributes: new {@class= "form-control"})
                              @Html.ValidationMessageFor(model =>model.IdAreafk)
                            </div>                            
                            @*falta el buscar o ver las agencias *@
                        </div> 

                          <div class="form-group">
                            <label for="">Estado:</label>
                            <select class="form-control input-sm-3" id="" name="Estado" required>
                                <option value="">--Seleccione Grupo</option>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Bueno">Bueno</option>
                                <option value="Regular">Regular</option>
                                <option value="Baja">Baja</option>                               
                            </select>
                            <span>@Html.ValidationMessage("Estado")</span>
                        </div>

                       @* <div class="form-group">                           
                              <label for="">Seleccionar Proveedor:</label>
                              <div class="editor-field">
                                 @Html.DropDownList("IdProveedorFk", null, htmlAttributes: new {@class= "form-control"})
                                 @Html.ValidationMessageFor(model =>model.IdProveedorFk)
                            </div>                                                 
                        </div>*@ 

                      <div class="form-group">
                            <label for="">Num Factura:</label>
                            <input type="text" name="NurFactura" class="form-control" placeholder="NumFactura #"  />
                            <span>@Html.ValidationMessage("NumFactura")</span>
                      </div>

                      <div class="form-group ">
                            <label for="">Observaciones:</label>
                             <textarea name="Observaciones" class="form-control" placeholder="Observaciones"  rows="5" cols="20"></textarea>
                       </div>

                         <div class="form-group">                           
                                 <label for="">Seleccionar Depreciación:</label>
                                 <div class="editor-field">
                                     @Html.DropDownList("IdDepreciacionFk", null, htmlAttributes: new {@class= "form-control"})
                                     @Html.ValidationMessageFor(model =>model.IdDepreciacionFk)
                                 </div>                                                 
                        </div> 
                               </div> 

                       <div class="row">
                             <div class="col-md-10 col-sm-10 col-xs-10">
                             <div style="text-align:center">
                             <button class="btn btn-primary">
                             <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            Guardar</button>
             
                           <a href="/Producto/Index" class="btn btn-danger">
                            <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            Cancelar
                          </a>
                           </div>
                           </div>
                     </div>
                </div>
                @* </div>*@
             </div>
           </form>
          </div>
         </div>
    </div>
</div>
</div>

<style>
    .center {
     float: none;
     margin-left: 90px;
     margin-right: auto;
}
</style>
