﻿@{
    ViewBag.Title = "EditaTipoProducto";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <form action="/TipoProducto/edit/@Model.IdTipoProducto" method="post">
            <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">
                <h4>Registrar Información Tipo Producto</h4></div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="">Id:</label>
                    <input type="text" readonly="true" name="IdTipoProducto" class="form-control" placeholder="IdTipoProducto" value="@Model.IdTipoProducto"/>
                </div>
                
                <div class="form-group">
                    <label for="">Descripción:</label>
                    <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion" value="@Model.Descripcion" />              
                </div>

                <div class="form-group" style="text-align:center">
                     <button class="btn btn-primary" >
                      <span  class="glyphicon glyphicon-disk" aria-hidden="true"></span>
                    Guardar</button>

                 <a href="/TipoProducto/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Retornar </a>
                 </div>
    	     </div>
             </div>
      
        </form>
    </div>
</div>


