﻿@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<div class="panel panel-default">
  <div class="panel-body text-center">
   Gestionar Tipos Productos
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
    <div class="panel-body">

    <form action="/TipoProducto/Index" method="get">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buscar!">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
             </button>

         <a href="/TipoProducto/create" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registrar Tipo Producto">
               <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         </a>
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
          
            <th>#</th>
            <th>Descripcion</th>
            
            
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdTipoProducto</td>
                <td>@item.Descripcion</td>
                <td>
                    <a href="/TipoProducto/edit/@item.IdTipoProducto">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |

                    <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-id="@item.IdTipoProducto">
                        <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Eliminar</a>

                  

                    <div class="modal fade" id="basic" tabindex="-1" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Confirmar Eliminación</h4>
                            </div>
                            <div class="modal-body">
                                Esta seguro que desea eliminar al tipo de producto: @item.Descripcion;
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" type="button" class="btn btn-default">Cancelar</button>
                                <button id="btnContinueDelete" type="button" class="btn btn-primary">Eliminar</button>
                            </div>
                        </div>
                     </div>

                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

                <script>
                    var item_to_delete;
                    $(".deleteItem").click(function (e) {
                        item_to_delete = $(this).data('id');
                    });
                    $('#btnContinueDelete').click(function () {
                        window.location = "/TipoProducto/delete/" + item_to_delete;
                    });
                </script>


  </div>
</div>
 