﻿@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <form action="/TipoProducto/create" method="post">
            <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">
                <h4>Registrar Información Tipo Producto</h4></div>
            <div class="panel-body">

                    <div class="form-group">
                        <label for="">Descripción:</label>
                        <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion" />
                        <span>@Html.ValidationMessage("Descripcion")</span>
                    </div>

               
                    <div class="form-group" style="text-align:center">
                         <button class="btn btn-primary" >
                          <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                         Guardar</button>

                         <a href="/TipoProducto/Index" class="btn btn-danger" >
                           <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                           Regresar
                         </a>
                     </div>
            </div>
            </div>
        </form>
    </div>
   
