﻿
@{
    ViewBag.Title = "ListaDeDepreciacion";
}

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<script src="/Scripts/jquery-2.2.3.min.js"></script>
<script src="/Scripts/jquery.table2excel.js"></script>
<script src="/ExportPDF/jspdf.js"></script>
<script src="/ExportPDF/FileSaver.js"></script>
<script src="/ExportPDF/jspdf.plugin.table.js"></script>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <strong>LISTA DE DEPRECIACION DE BIENES</strong>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">MD. INVENTARIOS - "RONDESA"</div>
    <div class="panel-body">

        <form action="/BienesDepreciacion/Index" method="get">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" name="query" class="form-control" placeholder="Buscar..." />
                </div>

                <div class="col-md-9 col-sm-9 col-xs-9">
                         <option value= "Vehiculos">Vehiculos</option>
                    <label>Desde:</label>
                    <input type="date" id="Fecha1" name="Fecha1" class="input-sm" />
                    &nbsp;
                    <label>Hasta:</label>
                    <input type="date" id="Fecha2" name="Fecha2" class="input-sm" />
                    &nbsp;
                    <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Buscar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <br />
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                     <label for="">TipoProducto:</label>
                     
                         <select class="form-control" name="TipoDeProducto">
                             <option value= "Muebles">Muebles</option>
                             <option value= "Computo">Computo</option>
                             <option value= "Vehiculos">Vehiculos</option>
                         </select>
                        <span>@Html.ValidationMessage("TipoDeProducto")</span>
                      
                  </div> 
             <//div>
        </form>
        <table class="table table-striped mytable" id="tbl">
         <br />

            <thead>
                <tr>
                    <th>Id-Bienes</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Porentaje(%)</th>
                    <th>Depre. Anual</th>
                    <th>Depre.Mensual</th>
                    <th>Depreciacion Al Año</th> 
                    <th>NumDias</th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                { 
                <tr>
                    <td>@item.Idbienes</td>
                    <td>@item.Descripcion</td>                    
                    <td>@item.Importe</td>
                    <td>@item.Depreciacion.Porcentaje</td>
                    <td>@(@item.DepreciacionAcumulada=(@item.Depreciacion.Porcentaje*@item.Importe/100))</td>
                    <td>@(@item.DepreciacionMes= (@item.DepreciacionAcumulada/12))</td>
                    <td>@(@item.Importe-@item.DepreciacionAcumulada)</td>
                    <td>@(DateTime.Now.Day - (@item.FechaEmision.Day))</td>
                    @*<td>@(@item.AlDia= DateTime.Now.Day - (@item.FechaEmision.Day))</td>
                    <td>@((@item.DepreciacionMes/30)item.AlDia)</td>*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- ---------------------- -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Reportes</div>
    <div class="panel-body">
       <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
              <button id="myButton" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar Excel">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exportar Excel</button>


              <button onclick="generatefromtablepdf()" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar PDF">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exportar PDF</button>
             </div>
           </div>
    </div>
</div>

<script type="text/javascript">
          $(document).ready(function (e) {

              $("#myButton").click(function (e) {

                  $(".mytable").table2excel({
                      exclude: ".noExl",
                      exclude_img: true,
                      exclude_links: true,
                      exclude_inputs: true,
                      name: "new File",
                      filename: "Lista De Depreciación De Bienes",
                      fileext: ".xls"
                  });

              });
          });

</script>

<script>
    function generatefromtablepdf() {
        var data = [], fontSize = 12, height = 0, doc;
        doc = new jsPDF('p', 'pt', 'a4', true);
        doc.setFont("times", "normal");
        doc.setFontSize(fontSize);
        doc.text(20, 20, "Lista Depreciacion");
        data = [];

        data = doc.tableToJson('tbl');
        height = doc.drawTable(data, {
            xstart: 10,
            ystart: 10,
            tablestart: 40,
            marginleft: 10,
            xOffset: 10,
            yOffset: 15
        });

        //<![CDATA[
        var date = new Date();
        var d = date.getDate();
        var day = (d < 10) ? '0' + d : d;
        var m = date.getMonth() + 1;
        var month = (m < 10) ? '0' + m : m;
        var yy = date.getYear();
        var year = (yy < 1000) ? yy + 1900 : yy;
        //]]>
        doc.text(50, height + 20, 'Fecha Reporte: ' + day + "/" + month + "/" + year);
        doc.save("ListaDepreciacion.pdf");
    }
      </script>
