﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>- AlinWebSystem -</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")    
   
        <link href="~/Content/bootstrap.yeti.min.css" rel="stylesheet" />        
        <script src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="/scripts/bootstrap-datetimepicker.js"></script>
        <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />       
    
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        format: 'DD/MM/YYYY'
                    });
                });
            </script>
 </head>

    <body>
       
     <nav class="navbar navbar-inverse" >
		 <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span></button>
           @Html.ActionLink("AlinWebSystem", "Index", "Home", new {area =""}, new {@class ="navbar-brand"})  
            </div>
             
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                
				<ul class="nav navbar-nav">
					
           <li class="dropdown">
               <a class="dropdown-togle" data-toggle="dropdown" href="#">
               Admin. Proveedor
               <span class="caret"></span>
               </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                <li><a href="/Proveedor/Index">Buscar Proveedor</a></li>
                <li><a href="/Proveedor/Create">Registrar Proveedor</a></li>                                   
                </ul>
            </li>
   
                     @*   probando el menu*@
                     <li class="dropdown">
                                <a class="dropdown-togle" data-toggle="dropdown" href="#">
                                    Administrar
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                                    <li><a href="/Modulos/Index2">Almacen</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li><a href="/Modulos/Index">Inventarios</a></li>
                               </ul>
                             </li>  

                            <li class ="dropdown">
                                <a class="dropdown-togle" data-toggle="dropdown" href="#">
                                    Admin. Agencias
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                                    <li><a href="/Agencia/Index">Buscar Agencia</a></li>
                                    <li><a href="/Agencia/Create">Registrar Agencia</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li><a href="/Area/Index">Buscar Area</a></li>
                                    <li><a href="/Area/Create">Registra Area</a></li>
                                </ul>
                            </li>

                    <li class="dropdown">
                        <a class="dropdown-togle" data-toggle="dropdown" href="#">
                            Admin.Bienes
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMuenuDivider"> 
                            <li><a href="/Bienes/Index">Lista de Bienes</a></li>                            
                            <li><a href="/Bienes/Create">Registrar Bienes</a></li>
                             <li role="presentation" class="divider"></li>
                            <li><a href="/Depreciacion/Index">List. Depreciaciones</a></li>
                            <li><a href="/Depreciacion/Create">Regis. Depreciación</a></li>                            
                        </ul>
                    </li>
                  </ul>

                <ul class="nav navbar-nav navbar-right"> 
                          <li class="dropdown ">
                               <a class="dropdown-togle" data-toggle="dropdown" href="#">
                                  <span class="glyphicon glyphicon-user"></span>
                                   Login
                                   <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                                  <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                  <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                              </ul>
                          </li>
                          </ul>
			</div>
		</div>
	</nav>

  
    <div class="container">
        @RenderBody()
    </div>
        <br />
        <br />
        <hr />  

      <footer class="footer">
        <div class="container text-center">
        <br />
            <h6> <span style="color: black;">
            <script type="text/javascript" >

                //<![CDATA[
                var date = new Date();
                var d = date.getDate();
                var day = (d < 10) ? '0' + d : d;
                var m = date.getMonth() + 1;
                var month = (m < 10) ? '0' + m : m;
                var yy = date.getYear();
                var year = (yy < 1000) ? yy + 1900 : yy;
                document.write('Almacén e Inventarios "ALINWEB" - Copyright information<br /><br />Cajamarca -  ' + day + "/" + month + "/" + year);
                //]]>

                    </script> 
        </span></h6> 
            </div>   
   </footer>
    </body>
</html>
