﻿@{
    ViewBag.Title = "InicioAlm";
}

@*<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Administrar Almacen</a></li>
    <li ><a href="/Producto/Index"><i class="icon-book"></i>Lista de productos</a></li><br />
    <li><a href="/Movimientos/Index">Listar Movimientos</a></li><br />
    <li ><a href="/Producto/Create?TipoDeProducto=Suministros">Registrar Suministros</a></li><br />
    <li ><a href="/Producto/Create?TipoDeProducto=Vestuario"><i class="icon-book"></i>Registrar Vestuario</a></li><br />
    <li ><a href="/Producto/Create"><i class="icon-book"></i>Registrar Otros Prod.</a></li>
</ul>*@

<div class="col-md-6 col-md-offset-2">


<div class="list-group" style="align-content:center">
  <a href="#" class="list-group-item active">
    <strong>MÓDULO DE ALMACÉN</strong> 
  </a>
   <a href="/Producto/Index" class="list-group-item">Lista de productos</a>
   <a href="/Movimientos/Index" class="list-group-item">Listar Movimientos</a></>
   <a href="/Producto/Create?TipoDeProducto=Suministros" class="list-group-item">Registrar Suministros</a>
   <a href="/Producto/Create?TipoDeProducto=Vestuario"class="list-group-item">Registrar Vestuario</a>
   <a href="/Producto/Create" class="list-group-item">Registrar Otros Prod.</a>
   
 </div>
    </div>