﻿  
@*<link href="Content/bootstrap.cerulean.min.css" rel="stylesheet" />
<link href="Content/bootstrap.cerulean.min.css" rel="stylesheet" />


<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Administrar Inventario</a></li>
    <li ><a href="/Bienes/Index"><i class="icon-book"></i>Lista de bienes</a></li><br />
    <li ><a href="/Bienes/Create?TipoDeProducto=Muebles"></i>Registrar Moviliario</a></li><br />
    <li ><a href="/Bienes/Create?TipoDeProducto=Computo"><i class="icon-book"></i>Registrar Productos de Computo</a></li><br />
    <li ><a href="/Bienes/Create?TipoDeProducto=Vehiculos"><i class="icon-book"></i>Registrar Nuevo Vehiculo</a></li>
</ul>
</div>*@
<div class="col-md-6 col-md-offset-2">


<div class="list-group" style="align-content:center">
  <a href="#" class="list-group-item active">
    <strong>MODULO DE INVENTARIOS</strong> 
  </a>
  <a href="/Bienes/Index"  class="list-group-item">Lista de bienes</a>
  <a href="/Bienes/Create?TipoDeProducto=Muebles" class="list-group-item">Registrar Moviliario</a>
  <a href="/Bienes/Create?TipoDeProducto=Computo" class="list-group-item">Registrar Productos de Computo</a>
  <a href="/Bienes/Create?TipoDeProducto=Vehiculos" class="list-group-item">Registrar Nuevo Vehiculo</a>
 </div>
    </div>