﻿

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<script src="/Scripts/jquery-2.2.3.min.js"></script>
<script src="/Scripts/jquery.table2excel.js"></script>
<script src="/ExportPDF/jspdf.js"></script>
<script src="/ExportPDF/FileSaver.js"></script>
<script src="/ExportPDF/jspdf.plugin.table.js"></script>

<div class="panel panel-default">
  <div class="panel-body text-center">
    Gestionar Movimientos
  </div>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Movimientos</div>
    <div class="panel-body">


    <form action="/Movimientos/Index" method="get">

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
        </div>
        
        <div class="col-md-9 col-sm-9 col-xs-9">
            <label>Desde:</label>
            <input type="date" id="Fecha1" name="Fecha1" class="input-sm" />
            <label>Hasta:</label>
            <input type="date" id="Fecha2" name="Fecha2" class="input-sm" />
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buscar!">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span> 
            </button>

            @* <a href="/Producto/create" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registrar Producto">
                <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
             </a>*@
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover mytable" id="tbl"">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre Producto</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Tipo Movimiento</th>
            <th># Factura</th>
            <th>Fecha Registro</th>
            <th>Agencia</th>
            <th>Area</th>
            <th>Proveedor</th>
           @* <th>Nro. Movimiento</th>*@
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
               <tr>
                 <td>@item.IdMovimientos</td>
                <td>@item.Producto.Nombre</td>
                <td>@item.Producto.Cantidad</td>
                <td>@item.Stock</td>
                <td>@item.Tipo</td>
                <td>@item.NumFactura</td>
                <td>@item.Fecha</td>
                <td>@item.Agencia.Nombre</td>
                <td>@item.Area.Nombre</td>
                <td>@item.Proveedor.RazonSocial</td>
                @*<td>@item.NroMovimiento</td>*@
            </tr>
        }
    </tbody>
</table>


<a href="/Modulos/Index2" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>

                 </div>
    	 </div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Reportes</div>
    <div class="panel-body">
       <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
              <button id="myButton" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar Excel">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exportar Excel</button>


              <button onclick="generatefromtable()" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar PDF">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exportar PDF</button>
             </div>
           <//div>
    </div>
</div>


<script type="text/javascript">
          $(document).ready(function (e) {

              $("#myButton").click(function (e) {

                  $(".mytable").table2excel({
                      exclude: ".noExl",
                      exclude_img: true,
                      exclude_links: true,
                      exclude_inputs: true,
                      name: "new File",
                      filename: "ListaMovimientos",
                      fileext: ".xls"
                  });

              });
          });

</script>

<script>
                 function generatefromtable() {
                     var data = [], fontSize = 12, height = 0, doc;
                     doc = new jsPDF('p', 'pt', 'a4', true);
                     doc.setFont("times", "normal");
                     doc.setFontSize(fontSize);
                     doc.text(20, 20, "Lista Movimientos");
                     data = [];
                     
                     data = doc.tableToJson('tbl');
                     height = doc.drawTable(data, {
                         xstart: 10,
                         ystart: 10,
                         tablestart: 40,
                         marginleft: 10,
                         xOffset: 10,
                         yOffset: 15
                     });

                     //<![CDATA[
                     var date = new Date();
                     var d = date.getDate();
                     var day = (d < 10) ? '0' + d : d;
                     var m = date.getMonth() + 1;
                     var month = (m < 10) ? '0' + m : m;
                     var yy = date.getYear();
                     var year = (yy < 1000) ? yy + 1900 : yy;
                     //]]>
                      doc.text(50, height + 20, 'Fecha Reporte: '+ day + "/" + month + "/" + year);
                     doc.save("ListaMovimientos.pdf");
                 }
      </script>