﻿@*@model Entities.Movimientos*@




<div class="row center">
   <div class="col-md-8 col-sm-8 col-xs-8">
    <div class="panel panel-default">
    <div class="panel-heading" style="text-align:center">
      <h4>Registro de Movimiento</h4></div>
    <div class="panel-body">
    <div class="container" style="align-content:center">
        
        <form class="form-horizontal" action="/Movimientos/create" method="post">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            
             <div class="form-group">
                <label for="" class="col-lg-2 control-label">Nombre:</label>
                 <div class="col-lg-6">
                <input type="text" name="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre" readonly="true" />
                     <input type="hidden"  name="IdProducto" class="form-control"  value="@Model.IdProducto"/>
                </div>
            </div>

             <div class="form-group">
                <label for="" class="col-lg-2 control-label">Stock:</label>
                <div class="col-lg-6">
                <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad" value="@Model.Cantidad"  readonly="true"/> 
                </div>
            </div>
                                             
         <div class="form-group">
         <label for="" class="col-lg-2 control-label">Cantidad:</label>
            <div class="col-lg-6">
           <input class="form-control" type="text" name="Stock"  />
            </div>
         </div>

         <div class="form-group">
            <label for="" class="col-lg-2 control-label">Tipo Mov.</label>
            <div class="col-lg-6">
             <select class="form-control" name="Tipo">
                <option value= "Entrada">Entrada</option>
                <option value= "Salida">Salida</option>
            </select>
            </div>
         </div>

        <div class="form-group">
          <label for="" class="col-lg-2 control-label">Fecha:</label>
          <div class="col-lg-6">
            <input type="date" name="Fecha" class="form-control" />
          </div>
         </div>

         <div class="form-group">
          <label for="" class="col-lg-2 control-label">Num Factura:</label>
          <div class="col-lg-6">
              <input type="text" name="NumFactura" class="form-control" placeholder="# Factura"  />
          </div>
          </div>

         <div class="form-group">                            
             <label for="" class="col-lg-2 control-label">Selecionar Agencia:</label>
             <div class="editor-field col-lg-6">
             @Html.DropDownList("IdAgencia", null, htmlAttributes: new {@class= "form-control"})
              </div>                            
         </div> 
            
         

          <div class="form-group">                            
          <label for="" class="col-lg-2 control-label">Seleccionar Area:</label>
          <div class="editor-field col-lg-6">
          @Html.DropDownList("IdAreafk", null, htmlAttributes: new {@class= "form-control"})      
          </div>                                           
          </div>   

         <div class="form-group">                           
           <label for="" class="col-lg-2 control-label">Seleccionar Proveedor:</label>
           <div class="editor-field col-lg-6">
            @Html.DropDownList("IdProveedorFk", null, htmlAttributes: new {@class= "form-control"})
           </div>                                                 
           </div>    


          <div class="form-group">
          <label for="" class="col-lg-2 control-label">Nº Mov.</label>
          <div class="col-lg-3">
            <input type="text" name="NroMovimientos" class="form-control" placeholder="Nº Mov." value="C001" readonly="true"/>
          </div>
          </div>

        <hr />

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-1">
            <div style="text-align:center">
                <button class="btn btn-primary">
                   <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true">
                   </span>Guardar
                </button>
                 <a href="/Movimientos/Index" class="btn btn-danger">
                   <span  class="glyphicon glyphicon-share-alt" aria-hidden="true">
                   </span>Cancelar
                 </a>
             </div>
          </div>
        </div>
        
        </div>
        </div>
        </form>
        </div>
    </div>     
    </div>

</div>
</div>



<script>
    function ProductoChange() {
        document.getElementById("btnProductoChangeId").click();
    }
    </script>

<style>
    .center {
     float: none;
     margin-left: 190px;
     margin-right: auto;
}
</style>